<mat-toolbar class="toolbar">
  <span class="Dog">Tienda de perritos</span>
  <div class="TopSideNav-Right" *ngIf="isUserAuthenticated">
    <button
      mat-raised-button
      [matMenuTriggerFor]="menu"
      class="ProfileButton"
      color="Accent"
    >
      <span>User Options</span>
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="sweetAlert()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>
  <form class="form-inline my-2 my-lg-0">
    <ul *ngIf="!isUserAuthenticated" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/login']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
    </ul>
  </form>
  <ul *ngIf="isUserAdmin" class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li>
      <a
        class="nav-link"
        [routerLink]="['/add-products']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Agregar Productos</a
      >
    </li>
  </ul>
</mat-toolbar>
