.popupForm {
  background: #ffffff 0 0 no-repeat padding-box;
  box-shadow: 0 10px 12px #0000001c;
  border-radius: 16px;
  opacity: 1;
  padding: 4rem 2rem 4rem 2rem;
}

.modal-title {
  text-align: left;
  font: normal normal bold 20px/30px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.cancel-button {
  margin: 10px 10px -5px 0px;
  padding: 0px 35px 0px 35px;
  align-content: center;
  border-radius: 18px;
  color: #707070;
  font: normal normal Montserrat;
  background-color: lightgray;
  margin-left: 9px;
}
.error-msg {
  color: blue;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.save-button {
  margin: 10px 10px -5px 0px;
  padding: 0px 20px 0px 20px;
  align-content: center;
  border-radius: 18px;
  background: #e64d14;
  color: white;
  font: normal normal Montserrat;
  margin-left: auto;
}

.form-control {
  padding: 0.7rem 25rem 0.7rem 1rem;
}

.input-title {
  text-align: left;
  font: normal normal bold 12px/30px Montserrat;
  color: #707070;
  opacity: 1;
}

.modal-title {
  text-align: left;
  font: normal normal bold 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.changePasswordForm {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 12px #0000001c;
  border-radius: 16px;
  opacity: 1;
  padding: 4rem 2rem 4rem 2rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.productForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
