<body>
  <div class="LoginFormContainer">
    <div class="LoginFormContainerLevel2">
      <div class="LoginFormContainerLevel3">
        <form
          [formGroup]="loginForm"
          novalidate
          autocomplete="off"
          class="formGroupItem"
        >
          <div class="form-control">
            <label>Nombre de Usuario* </label>
            <input
              matInput
              type="username"
              formControlName="username"
              placeholder="UserName"
              required
              class="form-control1"
            />
            <mat-error>
              <h5
                *ngIf="
                  validateControl('username') &&
                  hasError('username', 'required')
                "
              >
                Nombre de Usuario es Requerido<strong> required</strong>
              </h5>
            </mat-error>
          </div>

          <div class="form-control">
            <label>Password*</label>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              class="form-control1"
              required
              minlength="6"
              maxlength="50"
            />
            <mat-error>
              <h5
                *ngIf="
                  validateControl('password') &&
                  hasError('password', 'required')
                "
              >
                Password is
                <strong> required</strong>
              </h5>
              <h5
                *ngIf="
                  validateControl('password') &&
                  hasError('password', 'minlength')
                "
              >
                Password is too short
              </h5>
            </mat-error>
          </div>

          <div class="LogingButton">
            <button
              mat-raised-button
              type="submit"
              class="btnLogin"
              (click)="loginUser(loginForm.value)"
            >
              Iniciar Sesion
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
